<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta name='viewport' content='width=device-width, intial-scale=1, shrink-to-fit=no'>
		<meta http-equiv='x-ua-compatible' content='ie = edge'>
		<link rel='stylesheet' href='lib/assets/css/bootstrap.min.css'>
		<link rel='stylesheet' href='./lib/css/w3.css'>
		<link rel='stylesheet' href='./lib/assets/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css'>
		<title>school-node news</title>
	</head>
	<body ng-app='allnews' ng-controller='myCtrl'>

		<nav class='navbar  navbar-inverse '>
			<div class='container-fluid'>
				<div class='navbar-header'>
					<a class='navbar-brand' href='./'>school-node</a>
				</div>
				<ul class='nav navbar-nav'>
					<li class='nav-item active'>
						<a class='nav-link' href='./'>Home</a>
					</li>
					<li class='nav-item'>
						<a class='nav-link' href='./news'>News</a>
					</li>
					<li class='nav-item'>
						<a class='nav-link' href='./cbt'>CBT test</a>
					</li>
				</ul>
				<ul class='nav navbar-nav navbar-right' id='notlogged'>
					<li class='nav-item' >
						<a class='nav-link' href='./Register'>Register</a>
					</li>
					<li class='nav-item'>
						<a class='nav-link' href='./Login'>Login</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right" id='logged'>
                  
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
										Hi {{user.firstname}} !
										<b class="caret"></b>
									</p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a  ng-click='signout()'>Log out</a></li>
                              </ul>
                        </li>
                       
						<li class="separator hidden-lg hidden-md"></li>
                    </ul>
			</div>
		</nav>
		<div  class='container'>
			<div class='row'>
				<div class='col-md-5'>
					<div class='row'>
						<div class='col-xs-12 w3-btn' ng-click='currentNews(snews)'>
							<img ng-src={{snews.image}} class='img-rounded img-responsive '/>
							<br/>
							<p class='w3-xlarge'>{{snews.title}}</p>
						</div>
					</div>
					<br/>
					<div class='row'>
						<div class='col-xs-3 w3-btn' ng-click='currentNews(newsone)'>
						
									<img class='img-rounded ' ng-src={{newsone.image}} style='width:50px;height:50px'>
							
								<p>{{newsone.title}}</p>
					
							
						</div>
						<div class='col-xs-3 w3-btn' ng-click='currentNews(newstwo)'>
					
								<img class='img-rounded' ng-src={{newstwo.image}} style='width:50px;height:50px'>
								
								
								<p>{{newstwo.title}}</p>
							
						</div>
						<div class='col-xs-3 w3-btn' ng-click='currentNews(newsthree)'>
						
								<img class=' img-rounded' ng-src={{newsthree.image}} style='width:50px;height:50px'>
								
								
								<p>{{newsthree.title}}</p>
							
						</div>
					</div>
				</div>
				<div class='col-md-4 '>
				<p class='row w3-dark-grey w3-card-2'>
				Trending news
				</p>
				<div class='row w3-card-2'>
				<ul class='  w3-ul'>
					<li class='w3-bar col-xs-12 w3-border-bottom ' ng-repeat='mynews in news' >
					<div class='row w3-button' ng-click='currentNews(mynews)'>
						<div class='col-xs-3 bar-item'>
							<img ng-src={{mynews.image}} class='img-responsive img-circle' />
				</div>
						<div class='col-xs-9 bar-item'>
							<p class='w3-small'><b>{{mynews.title}}</b></p>
							</div>
						</div>
						</div>
						</li>
				</ul>	
				</div>
					
					
				
				<div class='col-md-3'>
				</div>
			</div>
			<br/>
			<div class='row'>
				<div class='col-sm-4 '>

					<div class='well well-sm w3-card-2'style='background-color:red' >
						<div class='row'>
							<div class='col-xs-4'>
								<i class='fa fa-university fa-5x' style='width:100%'>
									<a href='./cbt'></a>
								</i>
							</div>

							<div class='col-xs-8 '>
								<p class='h4 w3-small'>Pratice CBT Past Questions </p>
							</div>
						</div>

					</div>

				</div>

				<div class='col-sm-4'>
					<div class='well well-sm w3-card-2'style='background-color:lightBlue'>
						<div class='row'>
							<div class='col-xs-4'>
								<i class='fa fa-graduation-cap fa-5x' style='width:100%'></i>
							</div>
							<div class='col-xs-8'>
								<p class='h4 w3-small'>Get to know schools that offer your course</p>
							</div>
						</div>
					</div>
				</div>
				<div class='col-sm-4'>
					<div class='well well-sm w3-card-2'style='background-color:lightGreen'>
						<div class='row'>
							<div class='col-xs-4'>
								<i class='fa fa-book fa-5x' style='width:100%'></i>
							</div>
							<div class='col-xs-8'>
								<p class='h4 w3-small'>Node-Academy <i> </i></p>
                                <button class="btn btn-success" ng-click="tutorial()">click me</button>
							</div>
						</div>

					</div>
				</div>
			
		</div>
		
		
		</div>
		<br/>
		<br/>
		<br/>
		<footer style="color:red" class='nav navbar navbar-inverse navbar-fixed-bottom' >
				<div class='container'>
					<div class='row'>
						<div class='col-md-4'>
							<p> <strong> Author:</strong>Valentine Emmanuel </p>

						</div>
					</div>
				</div>
			
			</footer>
		<script src='lib/assets/js/jquery-1.10.2.js'></script>
		<script src='lib/js/angular.js'></script>
		<script src='lib/assets/js/bootstrap.min.js'></script>
		<script src='lib/user/js/allnews.js'></script>
	</body>